## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.bsp/

# sbt specific
target/
project/boot
lib_managed/*
project/build/target
project/build/lib_managed
project/build/src_managed
project/plugins/lib_managed
project/plugins/target
project/plugins/src_managed
project/plugins/project

# intellij
*.eml
*.iml
*.ipr
*.iws
.*.sw?
.idea
.idea/workspace.xml
